@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @ViewBag.Name <br />
    @ViewData["NextName"] <br />
    @ViewData["Title"] <br />

</div>
@section MiddleSection{
            <text>This is middle section</text>
}
@section Header{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
}
